    .box {
    width: 100px;
    height: 100px;
    background-color: blue;
    transition:transform 3s,background-color 2s;   
    }

    .box:hover {
    transform: translateY(200px) rotate(120deg);
    background-color: orange;
    }