body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    color: blue;
    text-align: center;
}

nav a {
    color: blue;
}


footer {
    color: black;
    margin-top: 30px;
}

.button{
    background-color: crimson;
    color: gold;
}

form{
    text-align: center;
}

.contact{
    text-align: center;
}

.txt{
    text-align: center;
}

#mainid{
    text-align: center;
}