p{
    /* text-decoration: dashed rgb(43, 192, 43) overline;
    text-shadow: 5px -10px 8px rgb(136, 119, 24);
    text-align: center;
    text-transform: uppercase; */
    font-family: Arial, Helvetica, sans-serif;
}