*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
    background-image: url("https://imageio.forbes.com/blogs-images/briankoberlein/files/2016/10/goods-1200x731.jpg?height=433&width=711&fit=bounds");
    background-size: cover;
    background-repeat: no-repeat;
}
.div-1{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #f6a661;
    position: relative;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b4/The_Sun_by_the_Atmospheric_Imaging_Assembly_of_NASA%27s_Solar_Dynamics_Observatory_-_20100819.jpg/1073px-The_Sun_by_the_Atmospheric_Imaging_Assembly_of_NASA%27s_Solar_Dynamics_Observatory_-_20100819.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
/* mercury */
.div-2{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    border:1px solid #453853;
    position: absolute;
    animation: mercury 0.7s linear infinite;
}
.mercury{
    position: absolute;
    height: 30px;
    width: 30px;
    margin-left: 15px;
    border-radius: 50%;
    background-image: url("https://media.istockphoto.com/id/499771042/photo/mercury-in-colour.jpg?s=612x612&w=0&k=20&c=1BerGIwehIUaWi7YfD6e_-TM8oFbFPvUwhTZ04O3e-Q=");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
@keyframes mercury{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
/* venus */
.div-3{
    height: 240px;
    width: 240px;
    border-radius: 50%;
    border:1px solid #453853;
    position: absolute;
    animation: venus 2s linear infinite;
}
.venus{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: 45px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRW7obkaYKM_Y6qkXyWH818Lqsx_z7XLmjqWA&s");
    background-size: cover;
    background-repeat: no-repeat;
}
@keyframes venus{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
/* earth */
.div-4{
    height: 320px;
    width: 320px;
    border-radius: 50%;
    border:1px solid #453853;
    position: absolute;
    animation: earth 3s linear infinite;
}
.earth{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: 75px;
    background-image: url("https://www.freeiconspng.com/thumbs/earth-png/earth-png-15.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
@keyframes earth{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
/* mars */
.div-5{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    border:1px solid #453853;
    position: absolute;
    animation: mars 4s linear infinite;
}
.mars{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: 105px;
    background-image: url("https://www.freepnglogos.com/uploads/mars-png/mars-transparent-png-stickpng-0.png");
    background-size: cover;
    background-repeat: no-repeat;
}
@keyframes mars{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
/* jupiter */
.div-6{
    height: 460px;
    width: 460px;
    border-radius: 50%;
    border:1px solid #453853;
    position: absolute;
    animation: earth 7s linear infinite;
}
.jupiter{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: 126px;
    background-image: url("https://www.nicepng.com/png/detail/2-24153_mars-planet-png-does-jupiter-look-like.png");
    background-size: cover;
    background-repeat: no-repeat;
}
@keyframes jupiter{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
/* saturn */
.div-7{
    height: 540px;
    width: 540px;
    border-radius: 50%;
    border:1px solid #453853;
    position: absolute;
    animation: saturn 45s linear infinite;
}
.saturn{
    height: 30px;
    width: 30px;
    margin-left: 160px;
    border-radius: 50%;
    background-image: url("https://img.freepik.com/premium-psd/png-saturn-planet-space-white-background-ai-generated-image-by-rawpixel_53876-204991.jpg?semt=ais_hybrid&w=740&q=80");
    background-size: cover;
    background-repeat: no-repeat;
}
@keyframes saturn{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
/* uranus */
.div-8{
    height: 610px;
    width: 610px;
    border-radius: 50%;
    border:1px solid #453853;
    position: absolute;
    animation: uranus 60s linear infinite;
}
.uranus{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: 170px;
    margin-top: 8px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTh_2SScOg2217P_AldhuWjy69-9WQXOqpvJQ&s");
    background-size: cover;
    background-repeat: no-repeat;
}
@keyframes uranus{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
/* neptune */
.div-9{
    height: 670px;
    width: 670px;
    border-radius: 50%;
    border:1px solid #453853;
    position: absolute;
    animation: neptune 65s linear infinite;
}
.neptune{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: -15px;
    margin-top: 310px;
    background-image: url("https://img.freepik.com/premium-photo/mars-high-resolution-white-background_804788-16766.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
@keyframes neptune{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
/* pluto */
.div-10{
    height: 740px;
    width: 740px;
    border-radius: 50%;
    border:1px solid #453853;
    position: absolute;
    animation: pluto 65s linear infinite;
}
.pluto{
    height: 30px;
    width:30px;
    border-radius: 50%;
    margin-left: 105px;
    margin-top: 630px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAtoWRG3QJ1mpQenNYFE18iAJZZAB-BzwjnA&s");
    background-size: cover;
    background-repeat: no-repeat;
}
@keyframes pluto{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
} 