.text1{
    color:rgb(93, 73, 73)
}

.text2{
    color:rgb(62, 49, 32)
}

.text3{
    color: rgb(29, 138, 142);
}

.text4{
    color: rgb(208, 144, 59);
}

.text5{
    color:rgb(33, 74, 60)
}

.text6{
    color: #553454
}

.text7{
    color: #435599
}

.text8{
    color: #990099;
}

.text9{
    color: #000099;
}

.text10{
    color: #883399
}