*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #406ae4;
}
div{
    width: 100px;
    height: 100px;
    background-color: #e0b987;
    border-radius: 50%;
    animation: triangle-cube 5s infinite linear;
}

@keyframes triangle-cube{
    0%{ transform: translate(-500px, -200px) }
    33%{ transform: translateY(200px) }
    67%{ transform: translate(500px, -200px) }
    100%{ transform: translate(-500px, -200px) }
}