* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box1 {
    background-color: red;
    border: 2px solid black;
}

.box2 {
    background-color: blue;
    padding: 30px; 
}

.box3 {
    background-color: green;
    margin: 40px; 
}

.box4 {
    background-color: purple;
    width: 200px;
    height: 100px;
}

.box5 {
    background-color: orange;
    border-radius: 10px;
    border: 3px dashed black;
}
