*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{ background-color: #406ae4 }
div{
    width: 100px;
    height: 100px;
    background-color: #e0b987;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 20px;
    animation: move-cube 10s infinite linear;
}

@keyframes move-cube{
    0%{
        top: 50px;
        left: 20px;
    }
    12%{
        top: 150px;
        left: 20px
    }
    24%{
        top: 100px;
        left: 100px;
    }
    36%{
        top: 400px;
        left: 75px;
    }
    48%{
        top: 200px;
        left: 300px
    }
    60%{
        top: 700px;
        left: 200px
    }
    72%{
        top: 300px;
        left: 700px;
    }
    84%{
        top: 700px;
        left: 600px;
    }
    100%{
        top: 500px;
        left: 1200px
    }
}