body{
    display:flex;
    padding: 0;
    margin:0;
}

.child{
    border:2px solid red;
    transform: scale(1.1) translateY(-10px);
    height: 250px;
    width:250px;
    transition-property: all;
    transition-duration: 1.5s;
    transition-timing-function: ease;
    transition-delay: 0.5s;
}

.child:hover{
    width: 400px;
    height: 400px;
}