@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

#p1 {
    font-family: 'Roboto', sans-serif;
}

#p2 {
    font-family: 'Lobster', cursive; 
}

#p3 {
    font-family: 'Montserrat', sans-serif; 
}