*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #406ae4;
}
div{
    width: 200px;
    height: 200px;
    background-color: #e0b987;
    border-radius: 50%;
    animation: move-cube 5s infinite linear;
}

@keyframes move-cube{
    from{ transform: translateX(-500px) }
    to{ transform: translateX(500px) }
}