body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap:20px;
    flex-wrap: wrap;
}

.parent-div{
    position: relative;
    width: 400px;
    height: 300px;
    border-radius: 30px;
    overflow: hidden;
}
.city{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:white;
    font-size: 25px;
    width:100%;
    height: 100%;
}

img{
    height: 100%;
    width: 100%;
}

#korea,#tokyo,#new-york{
    background-color: #2185a180;
}
#tbilisi,#paris,#dubai{
    background-color: #A8938180; 
}