*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #424deb;
}
#main{
    width: 500px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.main-1{
    width: 300px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    border:1px solid red
}
.main-2{
    width: 60px;
    position: relative;
    background-color:blue;
    height: 60px;
    border-radius: 50%;
    margin-left: 75px;
    margin-top: 20px;
    animation: move 2s linear infinite;
}
@keyframes move {
    0%{
        left:60px;
        top:90px
    }
    33%{
        right: 50px;
        top:90px
    }
}