.menu {
    background: rgb(191, 243, 241);
    padding: 15px;
    border-radius: 12px;
    display: inline-flex;
    gap: 15px;
}
.menu a {
    text-decoration: none;
    color: rgb(58, 166, 160);
    padding: 10px 18px;
    border-radius: 8px;
    transition: background-color 0.3s ease,color 0.3s ease,transform 0.3s ease;
}

.menu a:hover {
    background-color: white;
    color: rgb(16, 88, 84);
    transform: translateY(-3px);
}