*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:30px;
    height: 100vh;
}
h1{
    font-size: 24;
    align-items: center;
}
h3,p {
    font-size: 25px;
}
button{
    height: 300px;
    width: 300px;
    margin-left: 20px;
}
img{
    height: 250px;
    width: 250px;
    background-size: contain;
    background-position: center;
}
button:hover{
    box-shadow: 0 0 15px purple;
}
#result{
    height: 35px;
}