    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    }

    body {
    height: 100vh;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    }


    .container {
    width: 90%;
    height: 90%;
    background: #fff;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    }

#a{
    color:gray;
    text-align: center;
    font-size: 16px;
}

    .left {
    width: 50%;
    background: #ededed;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

    .left h1 {
    font-size: 36px;
    margin-bottom: 30px;
    }

    .left span {
    color: #6c63ff;
    }

    .left img {
    width: 100%;
    max-width: 400px;
    }

    .right {
    width: 50%;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

    .top-link {
    text-align: right;
    font-size: 14px;
    margin-bottom: 30px;
    }

    .top-link a {
    color: #6c63ff;
    text-decoration: none;
    }

    h2 {
    font-size: 32px;
    margin-bottom: 10px;
    }

    .desc {
    font-size: 14px;
    margin-bottom: 25px;
    color: #777;
    }

    form input {
    width: 100%;
    padding: 14px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    }

    .password {
    position: relative;
    }

    .password span {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
        font-size: 13px;
    color: #6c63ff;
    cursor: pointer;
}

button {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    background: #6c63ff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}
