*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #000000;
}
/* #main{
    width: 200px;
    height: 7px;
    border: 1px solid gray;
    border-radius: 20px;
    margin-top: 50px;
}
#bar{
    height: 7px;
    background-color: white;
    border-radius: 20px;
    animation: loading 2s infinite linear;
}

@keyframes loading{
    from{
        width: 0px;
    }to{
        width: 200px;
    }
} */
#heart{
    border-radius: 50%;
    height:300px;
    width: 300px;
    background-color: red;
}

@keyframes pulse{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(2);
    }
    100%{
        transform: scale(3);
    }
}