*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ff9900;
}
#div-1{
    width: 300px;
    height: 300px;
    background-color: #c47900;
    border-radius: 50%;
}
#div-2{
    width: 300px;
    height: 300px;
    background-color: #fbfc00;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    animation: anim 3s infinite linear;
}

@keyframes anim {
    0%{
        transform: scale(1.15);
        box-shadow: 10px 10px 50px #fbfc00;
    }
    20%{
        transform: scale(1);
    }
    50%{
        transform: translate(40px, 30px);
    }
    100%{
        transform: scale(1.15);
        box-shadow: 10px 10px 50px #fbfc00;
    }
}